/*ESTUDIO LUZ CLARA*/

/*VARIABLES Y CONFIGURACIÓN*/
/*UNA VARIABLE GUARDA UN VALOR CON UN NOMBRE PARA PODER REUTILIZARLO*/
/*SE DECLARA DENTRO DE :ROOT, QUE REPRESENTA EL ELEMENTO HTMLY ES EL ANCESTRO DE TODOS. TODOS LOS ELEMENTOS DEL DOCUMENTO LO ´PUEDEN UTILIZAR*/

:root   {
    /*PALETA DE COLORES*/
    --color-tinta: #1a1a1a; /*Texto principal. Casi negro*/
    --color-suave: #6b6b6b; /*Texto secundario. Pie de fotos*/
    --color-marca: #2c3e50; /*Azul del estudio*/
    --color-acento: #c87941; /*Terracota para botones*/
    --color-acento-osc: #a45f2e; /*Terracota oscuro*/
    --color-fondo: #fafaf8; /*Blanco roto, no blanco puro*/
    --color-fondo-alt:#f0eee9; /*Para alternar fondos en secciones*/
    --color-linea: #dddad3; /*Bordes y separadores*/ 
    --color-blanco: #ffffff; /*Blanco puro*/

    /*TIPOGRAFÍA*/
    --fuente-titulo: Georgia, serif;
    --fuente-texto: Arial, sans-serif;

    /*ESPACIADO. Conversión 1rem = 10px*/
    --esp-xs: 0.8rem; /*8px*/
    --esp-sm: 1.6rem; /*16px*/
    --esp-md: 2.4rem; /*24*/
    --esp-lg: 4.0rem; /*40px*/
    --esp-xl: 8rem; /*80px*/

    /*OTROS ELEMENTOS*/
    --radio: 0.6rem; /*6px*/
    --sombra-1: 0 0.2rem 0.6rem rgb(0,0,0,0.6); /*Apenas separado*/
    --sombra-2: 0 0.4rem 1.2rem rgb(0,0,0,0.10); /*Tarjetas*/
    --sombra-3: 0 0.8rem 2.0rem rgb(0,0,0,0.16); /*Elementos elevados*/
    --transicion: 0.25s ease;
    --ancho-max: 120rem; /*1200px*/
}

/*RESET Y BASE TIPOGRÁFICA*/
*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*Es la línea más importante del reset porque sin ella, si a una caja le damos width:300px y además un padding:20px y border de 2px, la caja en realidad mide 300+20+20+2+2 = 344px. Con esta línea, el relleno y el borde se descuentan hacia adentro*/
}

/*LA BASE DEL TAMAÑO. La técnica del 62.5%*/
html    {
    font-size: 62.5%; /*Por omisión el navegador usa 16px para el tamaño base. El 62.5% de 16px es 10px. Tiene que ver con accesibilidad y la parte responsive*/

    scroll-behavior: smooth; /*Saltos suaves al usar navegación con anclas*/
}

body    {
    font-size: 1.6rem; /*Si no se agrega esta línea el texto no toma el valor de los 16px base y quedaría un texto casi ilegible*/
    font-family: var(--fuente-texto);
    line-height: 1.6;
    color: var(--color-tinta);
    background-color: var(--color-fondo);
}

/*JERARQUIA DE TÍTULOS*/
h1, h2, h3  {
    font-family: var(--fuente-titulo);
    line-height: 1.2;
    color: var(--color-marca);
}

h1  {font-size: 4.8rem;}
h2  {font-size: 3.2rem;}
h3  {font-size: 2.0rem;}

p   {
    margin-bottom:var(--esp-sm);
}

a   {
    color:var(--color-acento);
    text-decoration: none;
}

img { /*Estas líneas mantienen las proporciones de las imágenes de una manera más estructurada*/
    max-width: 100%;
    height: auto;
    display: block;
}

/*CONTENEDORES Y SECCIONES*/

.seccion    {
    max-width: var(--ancho-max); /*Toma todo el ancho disponible*/
    margin-left: auto;
    margin-right: auto;  /*Estas líneas centran el bloque, repartiendo el espacio sobrante por igual*/
    padding: var(--esp-xl) var(--esp-md); /*Dos valores: el primero afecta arriba y abajo, y luego izquierda-derecha*/
}

.seccion-alterna    {
    background-color: var(--color-fondo-alt);
    max-width: none; /*Se anula el ancho máximo para que el fondo ocupe todo el ancho de pantalla*/
}

.seccion-titulo     {
    margin-bottom: var(--esp-sm);
    text-align: center;
}

.seccion-entrada    {
    max-width: 65ch;    /*La unidad ch equivale al ancho del caracter ¨0¨ de la fuente en uso, son 65 caracteres por líne para una lectura más cómoda*/
    margin-left: auto;
    margin-right: auto;
    margin-bottom: var(--esp-lg);
    text-align: center;
    color: var(--color-suave);
}

.pagina-encabezado  {
    max-width: var(--ancho-max);
    margin: 0 auto;
    padding: var(--esp-xl) var(--esp-md) var(--esp-lg); /*Tres valore: arriba, los lados y abajo*/
    text-align: center; 
}

.pagina-titulo      {
    margin-bottom: var(--esp-xs);
}

.pagina-bajada      {
    color:  var(--color-suave);
    font-size: 1.8rem;
}

.subtitulo      {
    margin-top: var(--esp-md);
    margin-bottom: var(--esp-xs);
}

/*CABECERA Y MENÚ*/

.cabecera       {
    display: flex; /*Activa el uso de FLEXBOX*/
    justify-content: space-between; /*Colocado 2, 1 al principio y otro al final*/
    align-items: center;
    padding: var(--esp-sm) var(--esp-md);
    border-bottom: 0.1rem solid var(--color-linea);
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo      {
    display: flex;
    align-items: center;
    gap: var(--esp-xs);
    color: var(--color-marca);
}

.logo:hover .logo-icono     {
    transform: rotate(-8deg); /*Rotación de logo al hacer hover*/
}

.logo-texto     {
    font-family: var(--fuente-titulo);
    font-size: 2rem;
    font-weight: 700;
}

.menu       {
    display: flex;
    gap: var(--esp-sm);
    list-style: none;
}

.menu-enlace    {
    display: inline-block; /*Esta línea permite aplicar relleno vertical*/
    padding: var(--esp-xs) var(--esp-sm);
    color: var(--color-tinta);
    font-weight: 600;
    border-radius: var(--radio);
    transition: background-color var(--transicion), color var(--transicion);
}

.menu-enlace:hover  {
    background-color: var(--color-fondo-alt);
    color: var(--color-marca);
}

.menu-enlace:focus  {
    outline: 0.2rem solid var(--color-acento);
    outline-offset: 0.2rem; /*Se activa con la tecla tab al circular por la página*/
}

.menu-enlace.activo /*Dos clases del mismo elemento. Significa que el elemento que tenga las dos clases es el elemento activo o la marca de la posición de la página actual en la que se está navegando*/ {
    color: var(--color-acento);
}

/*PORTADA*/
/*AQUI VA LA IMAGEN DE FONDO*/

.portada        {
    background-image: url(../recursos/portada.webp);
    background-color: var(--color-marca);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 55rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--esp-md);
    text-align: center;
}

.portada-caja       {
    background-color: rgb(0, 0, 0, 0.45);
    padding: var(--esp-lg);
    border-radius: var(--radio);
    max-width: 70rem;
}

.portada-titulo     {
    color: var(--color-blanco);
    margin-bottom: var(--esp-sm);
}

.portada-bajada     {
    color: var(--color-blanco);
    font-size: 1.8rem;
    margin-bottom: var(--esp-md);
}

/*SERVICIOS - FLEXBOX*/

.fila-servicios     {
    display: flex;
    gap: var(--esp-md);
    flex-wrap: wrap;
}

.tarjeta        {
    flex: 1 1 30rem; /*El primer valor (1) equivale a flex grow, si sobra espacio este crece. El segundo 1 equivale a flex shrink, si falta espacio se encoge. El 30 rem aplica a flex-basis, parte de un tamaño base de 300px*/
    background-color: var(--color-fondo);
    padding: var(--esp-md);
    border-radius: var(--radio);
    box-shadow: var(--sombra-2);
    text-align: center;
    display: flex;
    flex-direction: column;
    transition: transform var(--transicion), box-shadow var(--transicion);
}

.tarjeta-icono      {
    color: var(--color-acento);
    margin: 0 auto;
}

.tarjeta-titulo     {
    margin-bottom: var(--esp-xs);
}

.tarjeta-texto      {
    color: var(--color-suave);
    flex-grow: 1; /*Hace que el párrafo absorba todo el espacio vertical*/
}

.tarjeta-precio     {
    font-weight: 700;
    color: var(--color-marca);
    font-size: 1.8;
    margin-bottom: 0;
    padding-top: var(--esp-sm);
    border-top: 0.1rem solid var(--color-linea);
}

/*GALERIA UTILIZANDO GRID*/
/*GRID UTILIZA DOS DIMENSIONES, A DIFERENCIA DE FLEX*/

.rejilla-galeria    {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem,1fr));
    /*Se lee de adentro hacia afuera:minmax (28rem, 1fr) hace que cada columna mida 280px y como máximo una fracción del espacio disponible. repeat (autofit) crea tantas como quepan con dicha medida. JUNTAS logran que todas las columnas quepan en 280px y reparten el espacio sobrante entre ellas. Responsive sin media querys*/
    gap: var(--esp-sm);
}

.galeria-pieza      {
    position: relative; /*No mueve la figura, solo le declara un punto de referencia para los hijos*/
    overflow: hidden; /*Recorta lo que sobresale de los limites de la figura, Permite que la img se agrande al pasar el curson sin invadir las otras figuras vecinas*/
    border-radius: var(--radio);
    box-shadow: var(--sombra-1);
}

.pieza-destacada    {
    grid-column: span 2; /*2 columnas*/
    grid-row: span 2; /*2 filas*/
}

.galeria-pieza img  {
    width: 100%;
    height: 100%;
    object-fit: cover; /*Recorta la imagen por el centro*/
    transition: transform 0.4s ease, filter 0.4s ease;
    filter: grayscale(60%); /*Quita el 60% del color*/
}

.galeria-pieza:hover img    {
    transform: scale(1.6);
    filter: grayscale(0%);
}

.galeria-pie    {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0; /*Absolute se ubica con respecto al ancestro más cercano con posición relativa*/
    background-color: rgba(0, 0, 0, 0.65);
    color: var(--color-blanco);
    padding: var(--esp-xs);
    font-size: 1.3rem;
    text-align: center;
    transform: translateY(100%); /*Lo desplaza hacia abajo el 100% de su altura*/
    transition: transform var(--transicion);
}

.galeria-pieza:hover .galeria-pie {
    transform: translateY(0); /*El pie de foto vuelve a su posición deslizandose desde abajo*/
}







